<% provide(:title, "About") %>
<div class="container about" id="about-pg">
  <div class="row">
    <div class="col-md order-1" id="about-web-img">
     <%= image_set_tag "devices-black-200px.png",
         {"devices-black-400px.png" => '576w',
           "devices-black-600px.png" => '768'},
         alt: "multiple-devices-screens",
         id: "devices-img" %>
    </div>
    <div class="col-lg order-2 about-text" id="about-web-text">
      <h1>Developer</h1>
      <p>I make websites of all shapes and sizes, and I am here to help you with all things web.<p>
        <ul>
          <li>Establishing a web presense for your local business</li>
          <li>Incorporating new features or widgets into an existing site</li>
          <li>Setting up a site for an event or special occasion</li>
          <li>Updating your existing website to a more modern look-and-feel</li>
          <li>Building a full-scale web application with accounts and data flowing from many sources
        </ul>
      <p>Let me know what you are looking for, and I can build it.</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg order-2" id="about-art-img">
       <%= image_set_tag "paintbrushes-black-200px.png",
           {"paintbrushes-black-400px.png" => '576w',
             "paintbrushes-black-600px.png" => '768'},
           alt: "paintbrushes",
           id: "paintbrush-img" %>
    </div>
    <div class="col-lg order-1" id="about-art-text">
      <h1>Artist</h1>
      <p>I've been coding since I was in high school, but I've been making art since I could hold a pencil. </p>
      <p>I am happy to use my artist's eye to help you design your site from the ground up, including designing digital
        or hand-painted graphics. Check out my watercolor insta <a href="http://instagram.com/chloevilain">@chloevilain</a> !</p>
      <p>If you are already working with a designer and are just looking for a developer to implement designs from spec,
        that's fine too! </p>
    </div>
  </div>
</div>
