<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <p>Here is the first column</p>
    </div>
    <div class="col-sm-4">
      <p>Here is the second column</p>
    </div>
    <div class="col-sm-4">
      <p>Here is the third column</p>
    </div>
  </div>
</div>
