<% provide(:title, "Portfolio") %>
<div class="container" id="portfolio-body">
      <h1>Coming soon.</h1>
      <p>Thank you for your patience. Please feel free to <%= link_to "contact me", contact_path %> for more samples of my work in the meantime.</p>
      <%= image_set_tag "coming-soon-200.png",
          {"coming-soon-400.png" => '576w',
            "coming-soon-600.png" => '768'},
          alt: "rectangle-graphic",
          id: "coming-soon-img" %>
</div>
